<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Cari Digimon Favorit</title>
    <style>
    body {
        background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a36e39ed-2182-4fa3-af43-299e3d89d2de/db8r9vn-309911f9-19ce-4a8b-acbb-f3906047dc0e.png/v1/fill/w_1024,h_576,q_80,strp/digimon_wallpaper_by_scytheaandlanarkine_db8r9vn-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTc2IiwicGF0aCI6IlwvZlwvYTM2ZTM5ZWQtMjE4Mi00ZmEzLWFmNDMtMjk5ZTNkODlkMmRlXC9kYjhyOXZuLTMwOTkxMWY5LTE5Y2UtNGE4Yi1hY2JiLWYzOTA2MDQ3ZGMwZS5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.BSYJ9SMgJzhPSqFLx7kbCrMc_Tsg5hQ_dFeFfKdi2ik);
        background-size: cover ;
       }
    </style>
</head>
<body>
    <center><br>
        <br>
        <br>
        <br>
        <br>
    <h1><b>Masukkan Digimon Favorit Kamu</b></h1>
    <hr>
    <form method='POST' action='http://localhost:5000/CariDigi'>
        <input type='text' name='digimon' placeholder="Masukkan Digimon..."/>
        <input type='submit' value='Masukkan Nama Digimon'/>
    </form>
    </center>
</body>
</html>